<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .PageTitle | default "HTTP File Server" }}</title>
  <link rel="stylesheet" href="{{ assetpath "style.css" }}">
  <link rel="stylesheet" href="{{ assetpath "roboto-font.css" }}">
  <link rel="stylesheet" href="{{ assetpath "fontawesome-6.2.0.css" }}">
  {{ if not .DisableMarkdown }}<link rel="stylesheet" href="{{ assetpath "gfm.css" }}">{{ end }}
</head>


<body>
{{ template "header" . }}
{{ template "listing" . }}
{{ template "footer" . }}
<script src="{{ assetpath "code.js" }}"></script>
</body>
</html>
