{{ define "footer" }}
{{ if not .HideLinks }}
<footer>
  <div class="container">
    <p>
      Powered by <a href="https://github.com/patrickdappollonio/http-server" target="_blank"><code>http-server</code></a>.
      Icons by <a href="https://fontawesome.com/" target="_blank">FontAwesome</a>.
    </p>
  </div>
</footer>
{{ end }}
{{ end }}
