{{ define "footer" }}
{{ if not .HideLinks }}
<footer>
  <div class="container">
    <p>Powered by <a href="https://github.com/patrickdappollonio/http-server" target="_blank"><code>http-server</code></a></p>
  </div>
</footer>
{{ end }}
{{ end }}
