{{ define "footer" }}
{{ if not .HideLinks }}
<footer>
  <div class="container">
    <p>
      Powered by <a href="https://github.com/patrickdappollonio/http-server" target="_blank" rel="noopener"><code>http-server</code></a>
      by <a href="https://www.patrickdap.com/?ref=http-server" target="_blank" rel="noopener">Patrick D'appollonio</a>.
      Icons by <a href="https://fontawesome.com/" target="_blank" rel="nofollow noopener">FontAwesome</a>.
    </p>
  </div>
</footer>
{{ end }}
{{ end }}
